fastapi
uvicorn
pydantic
google-generativeai
google-cloud-texttospeech
python-dotenv
protobuf
sarvamai
scikit-learn
numpy
sentence-transformers
nltk
transformers
torch
Pillow
PyMuPDF
pytesseract
opencv-python-headless
tensorflow
