fastapi
uvicorn
pydantic
python-dotenv
google-generativeai
requests
PyMuPDF
Pillow
numpy
nltk
sentence-transformers
transformers
torch --index-url https://download.pytorch.org/whl/cpu
pytesseract
opencv-python-headless



# fastapi
# uvicorn
# pydantic
# python-dotenv

# # Gemini
# google-generativeai

# # PDF processing
# PyMuPDF
# Pillow

# # NLP & Embeddings
# torch
# transformers
# sentence-transformers
# numpy
# nltk

# # OCR
# pytesseract
# opencv-python-headless

# # Image AI
# tensorflow

# # Utilities
# requests
